*{
  margin:0;
  padding:0;
}

.container{
  background: linear-gradient(135deg, #850c62, #f80759);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: #fff;
  min-width: 650px;
  min-height: 100vh;
  padding:30px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px 0;
}

.app-wrapper.success{min-height: 450px;}
.title{
  color: #f80759;
  text-align: center;
  margin: 80px 0px 40px 0;
}
.name, .email, .password, .description,.gender, .checkbox, .file-upload{
  margin: 20px;
  color: #969292;
  font-size: 16px;
}
.password{
  margin-bottom: 40px;
}
.input, .description textarea, select{
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  font-family: inherit;
}
.checkbox label.checkval {
  font-size: 16px;
  color: #000;
  margin-left: 10px;
}
.error{
  color: red;
}
.submit{
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 25px;
  color: white;
  padding: 10px 60px;
  background: linear-gradient(to right, #ab1dcf, #f80759);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: auto;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
button:active{
  transform: translateY(2px);
}
.form-success{
  display: flex;
  justify-content: center;
  margin-top: 150px;
  min-width: 370px;
  color: #f80759;
}

::-webkit-input-placeholder { /* Edge */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #969292;
    font-size: 16px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #969292;
    font-size: 16px;
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  color: #969292;
    font-size: 16px;
}

ul, li{list-style: none;}